* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.progects {
  background-color: #34547A;
  padding: 100px 0;
}
.progects-description {
  color: white;
}
.progects-title {
  color: white;
  font-size: 21px;
  margin-bottom: 10px;
}
.progects-item {
  width: 16.6%;
  float: left;
}
.progects-content {
  width: 50%;
  float: left;
}
.progect-img {
  float: left;
  margin-right: 20px;
}
.about-me {
  padding: 100px 0;
  
}
.container-me {
  margin: 0 auto;
  text-align: center;
  width: 540px;
}
.about-me-description {
  line-height: 26px;
  color: #727272;
}
.about-me-title {
   font-size: 32px;
   padding-bottom: 50px;
   color: black;
}
.WD {
  color: #34547A;
  font-size: 48px;
  line-height: 60px;
  font-family: ;
  padding-left: 402px;
  padding-top: 57px;
}
.container-title {
  width: 50%;
  float: left;
}
.work-title {
  font-size: 32px;
  line-height: 37px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.work {
  margin: 0 auto;
  text-align: center;
  
}
.video {
  padding-top: 57px;
  width: 1110px;
}
.work-discription {
  width: 540px;
  text-align: center;
  margin: 0 auto;
}