* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.progects {
  background-color: #34547A;
  padding: 100px 0;
}
.progects-description {
  color: white;
}
.progects-title {
  color: white;
  font-size: 21px;
  margin-bottom: 10px;
}
.progects-item {
  width: 16.6%;
  float: left;
}
.progects-content {
  width: 50%;
  float: left;
}
.progect-img {
  float: left;
  margin-right: 20px;
}
.about-me {
  padding: 100px 0;
  
}
.container-me {
  margin: 0 auto;
  text-align: center;
  width: 540px;
}
.about-me-description {
  line-height: 26px;
  color: #727272;
}
.about-me-title {
   font-size: 32px;
   padding-bottom: 50px;
   color: black;
}
.WD {
  color: #34547A;
  font-size: 48px;
  line-height: 60px;
  padding-left: 300px;
  padding-top: 57px;
  padding-right: 200px;
  float: left;
}
.container-title {
  width: 8%;
  float: left;
  margin: 0 auto;
}
.work-title {
  font-size: 32px;
  line-height: 37px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.work {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
.video {
  padding-top: 57px;
  width: 1110px;
  margin: 0 auto;
  background-image: url("video.png");
}
.work-discription {
  width: 540px;
  text-align: center;
  margin: 0 auto;
}
.title {
  padding-top: 79px;
}
.frame {
  padding-top: 278px;
  
}
.gallery {
}
.gallary-paper {
  float: left;
  height: 480px;
  width: 25%;
  background-image: url("picture1.png");
  position: relative;
}
.gallary-laptop {
  float: left;
  height: 480px;
  width: 25%;
  background-image: url("picture2.png");
  position: relative;
}
.gallary-item-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0 0 255 / 52%);
  opacity: 0;
}
.gallary-item-shadow:hover {
  opacity: 1;
}
